* {
    box-sizing: border-box;
}

body {
    width: 1440px;
    height: auto;
    font-family: "DM Sans", sans-serif;
    position: relative;
}

.circles {
    color: #161616;
    width: 787px;
    height: 787px;
    position: absolute;
}

.header {
    margin: 50px 99px 110px 99px;
    text-align: center;
    border-radius: 18px;
    font-weight: 700;
    font-size: 24px;
    padding: 36px 0 36px 0;
    background-color: #FFFFFF;
    color: #170F49;
    box-shadow: #4A3AFF 0px 3px 14px;

    max-width: 1242px;
}

.form_title {
    align-items: center;
}

.form_title h2 {
    font-weight: 700;
    font-size: 34px;
    color: #170F49;
    margin: 0;
}

.form_title p {
    font-weight: 500;
    font-size: 18px;
    color: #6F6C90;
    margin: 12 0 0 0;

    max-width: 517px;
    max-height: 70px;
}


.form_form {
    background-color: #ff9a9a;
    border-color: #EFF0F6;
    border: 1px;
    border-radius: 34px;


    max-width: 700px;
    max-height: 1088px;
}

.form_form h2 {
    font-weight: 700;
    font-size: 24px;
    color: #170F49;
    padding: 24px 0 0 0;
    margin: 0;
}

.form_form p {
    font-weight: 500;
    font-size: 18px;
    color: #170F49;
    padding: 6px 0 0 0;
    margin: 0;
}

hr {
    margin: 16px 0 48px 0;
}

.inputs label p {
    font-weight: 500;
    font-size: 18px;
    color: #170F49;
    padding: 0;
}

.inputs label input {
    font-weight: 400;
    font-size: 18px;
    color: #6F6C90;
    margin-top: 18px;
    margin-bottom: 48px;
    padding: 0 0 0 20px;
    border-radius: 46px;
    border: 1px;
    box-shadow: 0 2px 6px 0 #131242;
}

.next_button {
    margin: 48px 0 0 0;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    padding: 20px 40px;
    border-radius: 56px;
    border: 0;
    background: linear-gradient(#9E96F2, #EC31F0);
    box-shadow: 0 3px 12px #4A3AFF;
}